@model UDS.Models.JBInfo

<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<script type="text/javascript">
    function totaltime() {
        var begintime = Date.parse(new Date($("#BeginTime").val().toString().replace(/-/g, "/")));
        var endtime = Date.parse(new Date($("#EndTime").val().toString().replace(/-/g, "/")));
        var totaltime = endtime - begintime;
        var time = totaltime * 1.0 / (1000 * 3600);
        $("#TotalTime").val(time.toFixed(2));
    }
</script>

@{
    //Html.EnableClientValidation(false);
}

@using (Ajax.BeginForm("JBInfo", new { id = ViewBag.Id, isOld = ViewBag.Old }, new AjaxOptions() { UpdateTargetId = "replace", HttpMethod = "Post", InsertionMode = InsertionMode.Replace }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <table style="width:100%">
        <tr>
            <td style="width:40%" align="right">开始时间：</td>
            <td style="width:60%">
                @Html.TextBoxFor(model => model.BeginTime, new { onclick = "laydate({ istime: true, min : laydate.now(" + ViewBag.Before + "), formate: 'YYYY-MM-DD hh:mm:ss', start : laydate.now() })", placeholder = "YYYY-MM-DD hh:mm:ss", Class = "laydate-icon-molv", value = DateTime.Now.ToString() })
                @Html.ValidationMessageFor(model => model.BeginTime)
            </td>
        </tr>
        <tr>
            <td style="width:40%" align="right">结束时间：</td>
            <td style="width:60%">
                @Html.TextBoxFor(model => model.EndTime, new { onclick = "laydate({ istime: true, formate: 'YYYY-MM-DD hh:mm:ss', start : laydate.now() })", placeholder = "YYYY-MM-DD hh:mm:ss", Class = "laydate-icon-molv" })
                @Html.ValidationMessageFor(model => model.EndTime)
            </td>
        </tr>
        <tr>
            <td style="width:40%" align="right">总时长：</td>
            <td style="width:60%">
                @Html.TextBoxFor(model => model.TotalTime, new { onclick = "totaltime()", Readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.TotalTime)
            </td>
        </tr>
        <tr>
            <td style="width:40%" align="right">加班缘由：</td>
            <td style="width:60%">
                @Html.TextBoxFor(model => model.Reason)
                @Html.ValidationMessageFor(model => model.Reason)
            </td>
        </tr>
        <tr>
            <td style="width:40%" align="right">结算方式：</td>
            <td style="width:60%">
                @Html.DropDownListFor(model => model.TypeId, ViewData["typelist"] as List<SelectListItem>)
            </td>
        </tr>
    </table>
    if (ViewBag.Display == 1)
    {
        <div style="width:100%; text-align:center">
            <input type="submit" value="保存" id="save" name="save" onclick="totaltime()" />
            <input type="submit" value="发送" id="send" name="send" onclick="totaltime()" />
        </div>
    }
}