@model UDS.Models.QJInfo

<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<script type="text/javascript">
    function qjtotaltime() {
        var hourpreday = Number($("#hourpreday").text().toString());
        var beginworkhour = Number($("#beginworkhour").text().toString());
        var beginworkmin = Number($("#beginworkmin").text().toString());
        var endworkhour = Number($("#endworkhour").text().toString());
        var endworkmin = Number($("#endworkmin").text().toString());

        var begintime = new Date($("#BeginTime").val().toString().replace(/-/g, "/"));
        var beginminseconds = Date.parse(begintime);
        var endtime = new Date($("#EndTime").val().toString().replace(/-/g, "/"));
        var endminseconds = Date.parse(endtime);
        var totaltime = endminseconds - beginminseconds;
        var dayhours = (Math.floor(totaltime / (1000 * 3600 * 24)) - 1) * hourpreday;
        
        begintime.setHours(endworkhour, endworkmin, 0);
        var lastworkminseconds = Date.parse(begintime);
        endtime.setHours(beginworkhour, beginworkmin, 0);
        var beginworkminseconds = Date.parse(endtime);
        var timeb = (lastworkminseconds - beginminseconds) * 1.0 / (1000 * 3600);
        var timee = (endminseconds - beginworkminseconds) * 1.0 / (1000 * 3600);
        var lefthours = timeb + timee;
        var time = dayhours + lefthours;
        $("#TotalTime").val(time.toFixed(2));
    }
</script>
<span id="beginworkhour" hidden>@ViewBag.BeginWorkHour</span><span id="beginworkmin" hidden>@ViewBag.BeginWorkMin</span>
<span id="endworkhour" hidden>@ViewBag.EndWorkHour</span><span id="endworkmin" hidden>@ViewBag.EndWorkMin</span>
<span id="hourpreday" hidden>@ViewBag.HourPreDay</span>
@using (Ajax.BeginForm("QJInfo", new { id = ViewBag.Id, isOld = ViewBag.Old }, new AjaxOptions() { UpdateTargetId = "replace", HttpMethod = "Post", InsertionMode = InsertionMode.Replace }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <table style="width:100%">
        <tr>
            <td style="width:40%" align="right">开始时间：</td>
            <td style="width:60%">
                @Html.TextBoxFor(model => model.BeginTime, new { onclick = "laydate({ istime: true, min : laydate.now(" + ViewBag.Before + "), formate: 'YYYY-MM-DD hh:mm:ss', start : laydate.now() })", placeholder = "YYYY-MM-DD hh:mm:ss", Class = "laydate-icon-molv", value = DateTime.Now.ToString() })
                @Html.ValidationMessageFor(model => model.BeginTime)
            </td>
        </tr>
        <tr>
            <td style="width:40%" align="right">结束时间：</td>
            <td style="width:60%">
                @Html.TextBoxFor(model => model.EndTime, new { onclick = "laydate({ istime: true, min : laydate.now(), formate: 'YYYY-MM-DD hh:mm:ss', start : laydate.now() })", placeholder = "YYYY-MM-DD hh:mm:ss", Class = "laydate-icon-molv", value = DateTime.Now.ToString() })
                @Html.ValidationMessageFor(model => model.EndTime)
            </td>
        </tr>
        <tr>
            <td style="width:40%" align="right">总时长：</td>
            <td style="width:60%">
                @Html.TextBoxFor(model => model.TotalTime, new { onclick = "qjtotaltime()" })
                @Html.ValidationMessageFor(model => model.TotalTime)
            </td>
        </tr>
        <tr>
            <td style="width:40%" align="right">请假缘由：</td>
            <td style="width:60%">
                @Html.TextBoxFor(model => model.Reason)
                @Html.ValidationMessageFor(model => model.Reason)
            </td>
        </tr>
        <tr>
            <td style="width:40%" align="right">请假类别：</td>
            <td style="width:60%">
                @Html.DropDownListFor(model => model.TypeId, ViewData["typelist"] as List<SelectListItem>)
            </td>
        </tr>
    </table>
    if (ViewBag.Display == 1)
    {
        <div style="width:100%; text-align:center">
            <input type="submit" value="保存" id="save" name="save" onclick="qjtotaltime()" />
            <input type="submit" value="发送" id="send" name="send" onclick="qjtotaltime()" />
        </div>
    }
}