@model UDS.Models.SYQMKHInfo

@using (Ajax.BeginForm("SYQMKHInfo", new { id = ViewBag.Id, isOld = ViewBag.Old }, new AjaxOptions() { UpdateTargetId = "replace", HttpMethod = "Post", InsertionMode = InsertionMode.Replace }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <table style="width:100%">
        <tr>
            <td style="width:40%" align="right">入职日期：</td>
            <td style="width:60%">
                @Html.TextBoxFor(model => model.EntryDate, new { onclick = "laydate({  format: 'YYYY-MM-DD' })", placeholder = "YYYY-MM-DD", Class = "laydate-icon" })
                @Html.ValidationMessageFor(model => model.EntryDate)
            </td>
        </tr>
        <tr>
            <td style="width:40%" align="right">试用期满日期：</td>
            <td style="width:60%">
                @Html.TextBoxFor(model => model.PassDate, new { onclick = "laydate({  format: 'YYYY-MM-DD' })", placeholder = "YYYY-MM-DD", Class = "laydate-icon" })
                @Html.ValidationMessageFor(model => model.PassDate)
            </td>
        </tr>
        <tr>
            <td style="width:40%" align="right">自我评定：</td>
        </tr>
        <tr>
            <td style="width:100%" colspan="2" align="center">
                @Html.TextAreaFor(model => model.Valuation, new { style = "width: 80%; height: 300px" })
            </td>
        </tr>
        <tr>
            <td style ="width: 100%" colspan="2" align="center">
                <div style="width: 80%; text-align: left">
                    @Html.ValidationMessageFor(model => model.Valuation)
                </div>
            </td>
        </tr>
    </table>
    if (ViewBag.Display == 1)
    {
        <script src="~/Scripts/jquery-1.8.2.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        <div style="width:100%; text-align:center">
            <input type="submit" value="保存" id="save" name="save" />
            <input type="submit" value="发送" id="send" name="send" />
        </div>
    }
}