@model IEnumerable<UDS.Models.InfoList>

<div style="height:500px">
    <ul style="list-style:none">
        <li style="width:40%;float:left;text-align:center">流程名称</li>
        <li style="width:20%;float:left;text-align:center">申请人</li>
        <li style="width:30%;float:left;text-align:center">填写时间</li>
        <li style="width:10%;float:left;text-align:center"></li>
    </ul>
    <div>
        @foreach (var item in Model)
        {
            <ul>
                <li style="width:40%;float:left;text-align:center">
                    @Html.DisplayFor(modelItem => item.FormName)
                </li>
                <li style="width:20%;float:left;text-align:center">
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </li>
                <li style="width:30%;float:left;text-align:center">
                    @Html.DisplayFor(modelItem => item.WriteTime)
                </li>
                <li style="width:10%;float:left;text-align:center">
                    @Ajax.ActionLink("进入", "DetailContainer", "Detail", new { id = item.Id, show = 0, canSign = 1, backid = 1 }, new AjaxOptions() { UpdateTargetId = "replace", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" })
                </li>
            </ul>
        }
    </div>
</div>
<br />
<div style="width:100%; text-align:center">
    @Ajax.ActionLink("首页", "NextSignList", "List", new { pageindex = 1 }, new AjaxOptions() { UpdateTargetId = "replace", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" })
    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
    @Ajax.ActionLink("上一页", "NextSignList", "List", new { pageindex = @ViewBag.pageIndex - 1 }, new AjaxOptions() { UpdateTargetId = "replace", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" })
    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
    第 @ViewBag.pageIndex / @ViewBag.pageCount 页
    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
    @Ajax.ActionLink("下一页", "NextSignList", "List", new { pageindex = @ViewBag.pageIndex + 1 }, new AjaxOptions() { UpdateTargetId = "replace", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" })
    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
    @Ajax.ActionLink("尾页", "NextSignList", "List", new { pageindex = @ViewBag.pageCount }, new AjaxOptions() { UpdateTargetId = "replace", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" })
</div>